@keyframes CVanimation {
    to {
        transform: translateY(-5px);
    }
}

.fa-download {
    animation: CVanimation 0.5s infinite alternate-reverse;
}

body {
    background: url(./image/bgtwo.181487f3237d7ff109fa.jpg)no-repeat fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 270vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    /* border: 10px solid yellow; */
}

.nav2 {
    display: none !important;
}


.profile-image {
    height: 250px;
    width: 220px;
    display: flex;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.48);
    border-radius: 50% 0% 50% 0%;

}

.profile-image img {
    height: 100%;
    width: 100%;
    border-radius: 50% 0% 50% 0%;
    border: 5px solid rgba(255, 255, 255, 0.607);
}

nav {
    background-color: transparent !important;
}

.black-cont {
    width: 470px!important;
}

.black {
    height: 800px;
    background-color: #111111;
    width: 100%;
    border-radius: 10px;
    margin-left: 30px;
}

.main-right {
    width: 75%;
    padding-right: 20px;
}

.white {
    background-color: rgba(255, 255, 255, 0.808) !important;
    /* color: black!important; */
}

h2 {
    color: white;
}

.design-box {
    height: 50px;
    width: 260px;
    font-size: 30px;
    /* border: 1px solid grey; */
    background-color: #1D1D1D;
    text-align: center;
    margin: auto;
    border-radius: 13px;
    /* box-shadow: 0 0 8px gray; */
    color: white;
}

.contact {
    height: 400px;
    width: 85%;
    /* border: 1px solid red;    */
    background-color: #1D1D1D;
    background-color: #1d1d1d3e;
    color: white;
    padding: 5%;
    margin-top: 20px;
    border-radius: 20px;
}

.icon-font div {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D1D1D;
    background-color: #1D1D1D;
    transition: 1s !important;

}

.icon-font div:hover {
    background: linear-gradient(#fa5252, #dd2476);
}

.cv {
    height: 40px;
    width: 150px;
    border: 0;
    border-radius: 15px !important;
    /* background-image: linear-gradient(45deg, rgb(83, 235, 141), rgb(46, 183, 115)) */
    background-image: linear-gradient(45deg, rgb(223, 170, 70), rgb(255, 134, 112));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.341);
}

.cv:hover {
    background: linear-gradient(#fa5252, #dd2476);
}

.icon-box-2 {
    height: 130px;
    width: 60%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.318);
    border-radius: 20px;
    background-color: #111111;
    padding: 2%;
    padding-inline: 4%;
    /* gap: 2%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 48px;
    margin-bottom: 60px;

}

.icon-box-2 div {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 90px;
    width: 85px;
    border-radius: 10px;
    cursor: pointer;
}


.about {

    font-size: 30px;
    color: white;
}

#aboutWhiteA {
    color: white;
}

#aboutWhite:hover{
    color: white!important;
}
#aboutWhite:hover #aboutWhiteA{
    color: white!important;
}
#resumeWhiteA {
    color: white;
}
#resumeWhite:hover{
    color: white!important;
}
#resumeWhite:hover #resumeWhiteA{
    color: white!important;
}
#workWhiteA{
    color: white;
}
#workWhite:hover{
    color: white!important;
}
#workWhite:hover #workWhiteA{
    color: white!important;
}
#ContactWhiteA{
    color: white;
}
#blogsWhiteA{
    color: white;
}
#blogsWhite:hover{
    color: white!important;
}
#blogsWhite:hover #blogsWhiteA{
    color: white!important;
}
#ContactWhiteA{
    color: white;
}
#ContactWhite:hover{
    color: white!important;
}
#ContactWhite:hover #ContactWhiteA{
    color: white!important;
}

.about:hover {
    background-image: linear-gradient(#fa5252, #dd2476);
}

#workWhite {
    background-image: linear-gradient(#fa5252, #dd2476);
    font-size: 30px;
    color: white;
}

.resume {
    font-size: 30px;
    color: white;
}

.resume:hover {
    background-image: linear-gradient(#fa5252, #dd2476);
}

#infoAbout {
    /* min-height: 500px; */
    height: auto;

}

.about-me {
    height: 1300px;
    /* border: 1px solid gray; */
    margin: auto;
    margin-left: 160px;
    background-color: #111111;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.318);
    border-radius: 8px;
}

/* 3d-cas */


.cas3d {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #111111; */
    font-family: 'Poppins', sans-serif;
}

.box {
    position: relative;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite alternate-reverse;
    transition: 1s ease-in-out;
}

@keyframes animate {
    0% {
        transform: perspective(1200px) rotateY(0deg);
    }

    100% {
        transform: perspective(3000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 60deg)) translateZ(300px);
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0004001a);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.box:hover {
    animation-play-state: paused;
    cursor: pointer;

}

img {
    transition: 0.4s ease;
    border-radius: 20px;
}

img:hover {
    transform: scale(1.1);
}

.card {
    background-color: rgb(18, 16, 16) !important;
}

input:focus {
    outline: none;
}

input {
    border-radius: 7px;
}

button {
    border-radius: 7px !important;
}

select {
    border-radius: 7px !important;
}

.accor {
    border-radius: 10px !important;
    box-shadow: 0 0 10px lightblue;
}

/* end */



@keyframes type {
    to {
        left: 120%;
        background-color: #111111;
    }
}

@keyframes type2 {
    to {
        left: 120%;
        background-color: #F9F9FC;
    }
}

@keyframes tiptip {
    0% {
        border-left: 4px solid red;
    }

    100% {
        border-left: 0;
    }
}

@keyframes preLoader {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}

#what {
    margin: auto;
    margin-block: 50px;
    position: relative;
    width: fit-content;
    display: block;

}

#what2 {
    margin: auto;
    margin-block: 50px;
    position: relative;
    width: fit-content;
    display: none;
    color: black;
}

#what::before {
    content: "";
    height: 70px;
    width: 100%;
    background-color: #111111;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* border-left: 4px solid red; */
    animation: type 2.5s steps(25) infinite alternate,
        tiptip 0.3s infinite;
}

#what2::before {
    content: "";
    height: 70px;
    width: 100%;
    background-color: #F9F9FC;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* border-left: 4px solid red; */
    animation: type2 2s steps(15) infinite alternate,
        tiptip 0.3s infinite;
}

#preLoaderCont {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #31182bbc;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 107;
}

.pre-img-cont {
    margin: auto;
    margin-block: 50px;
    position: relative;
    width: fit-content;

}

.pre-img-cont::before {
    content: "";
    height: 50px;
    width: 100%;
    background-color: #31182B;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* border-left: 4px solid red; */
    /* animation: type 1s steps(15) infinite alternate,
        tiptip 0.3s infinite; */
    animation: preLoader 1s infinite alternate;
}

.dag {
    width: 150px;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, #F95153, #DE2575);
    border-image-slice: 1;
    margin-bottom: 25px;
}

.border-1-1 {
    height: 260px;
    width: 320px;
    border: 2px solid rgba(128, 128, 128, 0.447);
    border-radius: 10px;


}


.about-box-2 {
    color: white;
}

.clients {
    height: 160px;
    width: 665px;
    border: 2px solid rgba(128, 128, 128, 0.447);
}

.clients-logo {
    height: 70px;
    width: 150px;
}

.clients-logo img {
    height: 100%;
    width: 100%;
}

.light-btn {
    color: black;
    font-size: 30px;
    margin-right: 20px;
    background-color: white;
    border-radius: 50%;
    width: 45px;
    aspect-ratio: 1;
    transition: 200ms;
    cursor: pointer;
}

.light-btn:hover {
    background-color: black;
    color: white;
}

.dark-btn {
    display: none;
    color: white;
    font-size: 30px;
    margin-right: 20px;
    background-color: black;
    border-radius: 50%;
    width: 45px;
    aspect-ratio: 1;
    transition: 200ms;
    cursor: pointer;
}

.dark-btn:hover {
    background-color: white;
    color: black;

}

@media only screen and (max-width:688px) {
    body {
        overflow-x: hidden !important;
        height: 240vh;
    }

    .mobile-w {
        width: 70%;
        margin: auto;
    }

    .nav2 {
        display: block !important;
        background-color: #1E111D !important;
    }

    #mobile-logo {
        width: 200px !important;
        height: auto;
    }

    .nav1 {
        display: none !important;
    }

    .navbar-toggler {

        background-color: white !important;
    }

    .collapse.navbar-collapse {
        background-color: #111111;
        padding: 12px;
    }

    .mobile-nav-cont {
        padding: 0 !important;
    }

    ul li a {
        color: white !important;
    }

    #miniNav {
        display: none !important;
    }

    .cont {
        flex-direction: column;

    }

    .black-cont {
        width: 90% !important;
        margin: auto;
    }

    .black {
        width: 100%;
        margin: 0 !important;

    }

    .about-me {
        width: 100% !important;
        margin: auto;
    }

    .feature {
        flex-direction: column;
        width: 100% !important;
        align-items: center;
    }

    .main-right {
        width: 100% !important;
        padding: 0;
    }

    #infoAbout {
        width: 90% !important;
        margin: auto;
        height: auto !important;
    }

    .about-box-2 {
        width: 100%;

    }

    #what {
        margin-block: 70px;
        text-align: center !important;
    }

    .clients {
        width: 90%;
        margin: auto;
    }

    /* 3d-cas */


    .cas3d {
        display: flex;
        justify-content: center;
        align-items: center;
        /* min-height: 100vh; */
        min-height: 50vh;
        /* background-color: #111111; */
        font-family: 'Poppins', sans-serif;
    }

    .box {
        position: relative;
        width: 140px;
        height: 150px;
        transform-style: preserve-3d;
        animation: animate 30s linear infinite alternate-reverse;
        transition: 1s ease-in-out;
    }

    

    .box span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i) * 60deg)) translateZ(150px);
        -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0004001a);
    }

    .box span img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .box:hover {
        animation-play-state: paused;
        cursor: pointer;

    }

    img {
        transition: 0.4s ease;
        border-radius: 20px;
    }

    img:hover {
        transform: scale(1.1);
    }

    .card {
        background-color: rgb(18, 16, 16) !important;
    }

    input:focus {
        outline: none;
    }

    input {
        border-radius: 7px;
    }

    button {
        border-radius: 7px !important;
    }

    select {
        border-radius: 7px !important;
    }

    .accor {
        border-radius: 10px !important;
        box-shadow: 0 0 10px lightblue;
    }
    


}